<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <title>{{title}}</title>
{% for style in styles %}  <link href="/static/css/{{style}}.min.css" rel="stylesheet" type="text/css" />{% endfor %}
</head>
<body ontouchmove="event.preventDefault();">
{% block header %}{% endblock %}
{% block content %}{% endblock %}
  <footer>
    <nav>
      <a title="Home" href="/">Alexandra Arce</a>
      &bull;
      <a title="Zoo" href="/zoo">Zoo</a>
      &bull;
      <a title="About" href="/about">About</a>
      &bull;
      <a title="Contact" href="/message">Contact</a>
    </nav>
  </footer>
</body>
</html>
{% for script in scripts %}
<script src="/static/js/{{script}}.min.js" type="text/javascript"></script>{% endfor %}
