<!DOCTYPE html>
<html>
  <head>
    <title>Alexandra Tatiana Arce</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" href="/static/assets/css/app.min.css" />
  </head>
  <body ontouchmove="event.preventDefault();">
    <section id="hi">
    </section>
    <section id="tech">


    Data Stack on Ubuntu

    Data Driven Web Applications
    Exploratory Data Analysis
    Data Visualization
    Virtual Reality

    Data Mining
    Machine Learning
    Neural Networks
    Natural Language Processing
    Predictive Analytics

    </section>
    <section id="sci">


    Theory of Everything should include
    Emergence of Life and Cognition


    Cognitive Science
    Evolutionary Biology
    Quantitative Linguistics
    Computational Neuroscience
    </section>
    <section id="edu">


    BS and MS in Math and Theoretical Physics
    <a href="http://www.msu.ru/en/" target="_blank">Moscow State University</a>
    Stochastic Model of Magnetic Hydro-Dynamo
    ( Something about life of the stars )

    AA in Music and Fine Arts
    Vocational CogSci and Psychology

    Continued @ Coursera:
    Machine Learning &amp; Deep Learning
    </section>
    <section id="in">
    <h3>Los Angeles</h3>
    <h2>California</h2>
    </section>
  </body>
</html>

<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/assets/js/app.min.js"></script>
